.App {
  text-align: center;
  font-family: Roboto "Open Sans", "Helvetica Neue", sans-serif;
}
.App-header {
  margin-top: 5%;
  display:inline-block;
}
#App-menu {
  display:inline-block;
  position: relative;
  bottom: 5px;
}

#Aya {
  display:inline-block;
}